/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 550px;
    padding-left: 50px;
    padding-right: 50px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

body {
    padding: 25px;
}

.navbar {
    margin-bottom: 15px;
}

.title {
    margin-bottom: 20px;
}

#dashboard {
    display: none;
}

svg {
    display: block;
    margin: auto;
}

text {
    font-weight: bolder;
    fill: white;
    text-anchor: middle;
}

#event-title,
#talk-title {
    margin-bottom: 0px;
}

circle {}

.card.mb-3 {
    /*    background-color: #f9f9f9;*/
    height: 275px;
}

.card-body {
    overflow-y: scroll;
}

.container {
    display: table;
    /*    height: 100%;*/
    /*    padding-top: 0px;*/
    margin: 0px;
    height: 20px;
    position: relative;
    overflow: hidden;
    width: 55%;
}

#slider {
    width: 80%;
}

#slider-label {
    width: 40px;
}

.input-group {
    width: 100%;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
}

.title {
    padding-left: 1%;
}
